In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"F:\Adult_Census_Income_Prediction\notebooks\data\adult_income_data.csv",skipinitialspace=True)

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
df.isnull().sum()

In [6]:
# In this dataset missing values have been denoted by '?'
# we are replacing ? with NaN for them to be imputed down the line.
df.replace('?',np.NaN,inplace=True)

In [7]:
df.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
Income               0
dtype: int64

In [ ]:
df.info()

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
df['Income'].value_counts()
#imbalanced

In [ ]:
df['workclass'].value_counts()

In [ ]:
df['education'].value_counts()

In [8]:
num_cols = df.select_dtypes(exclude='object')

In [9]:
num_cols.skew()

age                0.558743
fnlwgt             1.446980
education-num     -0.311676
capital-gain      11.953848
capital-loss       4.594629
hours-per-week     0.227643
dtype: float64

In [ ]:
imputer=SimpleImputer(strategy='most_frequent')

In [ ]:
df['workclass']=imputer.fit_transform(df[['workclass']]).flatten()
df['occupation']=imputer.fit_transform(df[['occupation']]).flatten()

df['native-country']=imputer.fit_transform(df[['native-country']]).flatten()

In [ ]:
df.isnull().sum()

In [ ]:
df['workclass'].isnull().sum()

In [ ]:
df.shape

In [10]:
replacement_dict = {**dict.fromkeys([1,2,3,4,5,6,7,8],1),**dict.fromkeys([9,10],2),**dict.fromkeys([11,12],3),
                    **dict.fromkeys([13],4),**dict.fromkeys([14],5),**dict.fromkeys([15,16],6)}

In [11]:
df['education-num'].replace(replacement_dict,inplace=True)

In [12]:
df['education-num'].unique()

array([4, 2, 1, 5, 3, 6], dtype=int64)

In [13]:
df['workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', nan, 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [14]:
workclass_replace= {**dict.fromkeys([ 'Never-worked'],'Without-pay'),**dict.fromkeys(['Self-emp-not-inc'],'Private'),
                    **dict.fromkeys(['State-gov','Local-gov'],'gov')}

In [15]:
df['workclass'].replace(workclass_replace,inplace=True)

In [16]:
df['workclass'].unique()

array(['gov', 'Private', 'Federal-gov', nan, 'Self-emp-inc',
       'Without-pay'], dtype=object)

In [17]:
df['relationship'].unique()

array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
       'Other-relative'], dtype=object)

In [18]:
df['relationship'].replace(['Not-in-family', 'Own-child', 'Unmarried','Other-relative'],'others',inplace=True)

In [19]:
df['relationship'].unique()

array(['others', 'Husband', 'Wife'], dtype=object)

In [20]:
df['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [21]:
df['marital-status'].replace(['Divorced','Married-spouse-absent', 'Separated', 'Married-AF-spouse','Widowed'],'No-spouse',inplace=True)

In [22]:
df['marital-status'].unique()

array(['Never-married', 'Married-civ-spouse', 'No-spouse'], dtype=object)

In [23]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [24]:
df['race'].replace('Amer-Indian-Eskimo','Other',inplace=True)

In [25]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Other'], dtype=object)

In [26]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,39,gov,77516,Bachelors,4,Never-married,Adm-clerical,others,White,Male,2174,0,40,United-States,<=50K
1,50,Private,83311,Bachelors,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,2,No-spouse,Handlers-cleaners,others,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,1,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,4,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,3,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,2,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,2,No-spouse,Adm-clerical,others,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,2,Never-married,Adm-clerical,others,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,2,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [27]:
df.drop(columns='education',inplace=True)

In [28]:
data = df.drop(columns='Income')

In [32]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.impute import SimpleImputer

In [33]:
def trial():

    categorical_cols = ['workclass', 'marital-status', 'occupation','relationship', 'race', 'sex', 'native-country']
    numerical_cols = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss','hours-per-week']

    
    #numerical pipeline
    num_pipeline = Pipeline( steps=[  ('imputer',SimpleImputer(strategy='median')),
                                    ('scaler',StandardScaler())
                                   ]
                           )

    #categorical pipeline
    cat_pipeline = Pipeline(
                steps=[

                    ('imputer',SimpleImputer(strategy='most_frequent')),
                    ('onehotcoder',OneHotEncoder(sparse_output=False,drop='first'))
                ]
            )
                            
    preprocessor = ColumnTransformer(
                transformers=        
                [
                    ('num_pipeline',num_pipeline,numerical_cols),
                    ('cat_pipeline',cat_pipeline,categorical_cols)
                ]
            )
    return preprocessor

In [34]:
x=trial()

In [ ]:
x

In [35]:
data

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,gov,77516,4,Never-married,Adm-clerical,others,White,Male,2174,0,40,United-States
1,50,Private,83311,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,2,No-spouse,Handlers-cleaners,others,White,Male,0,0,40,United-States
3,53,Private,234721,1,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,4,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,3,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,2,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,2,No-spouse,Adm-clerical,others,White,Female,0,0,40,United-States
32559,22,Private,201490,2,Never-married,Adm-clerical,others,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,2,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [36]:
data_pre =x.fit_transform(data)

In [37]:
cols = x.get_feature_names_out(data.columns)

In [38]:
pipedf=pd.DataFrame(data_pre,columns=cols)

In [ ]:
cat_df =df.select_dtypes(include='object')

In [ ]:
cat_df.drop(columns='Income',inplace=True)

In [ ]:
cat_df

In [ ]:
for col in cat_df.columns:
    cat_df = pd.get_dummies(cat_df, columns=[col], prefix=[col], drop_first=True)

In [ ]:
cat_df

In [108]:
pipedf

,num_pipeline__age,num_pipeline__fnlwgt,num_pipeline__education-num,num_pipeline__capital-gain,num_pipeline__capital-loss,num_pipeline__hours-per-week,cat_pipeline__workclass_Private,cat_pipeline__workclass_Self-emp-inc,cat_pipeline__workclass_Without-pay,cat_pipeline__workclass_gov,...,cat_pipeline__native-country_Portugal,cat_pipeline__native-country_Puerto-Rico,cat_pipeline__native-country_Scotland,cat_pipeline__native-country_South,cat_pipeline__native-country_Taiwan,cat_pipeline__native-country_Thailand,cat_pipeline__native-country_Trinadad&Tobago,cat_pipeline__native-country_United-States,cat_pipeline__native-country_Vietnam,cat_pipeline__native-country_Yugoslavia
0,0.030671,-1.063611,1.173346,0.148453,-0.21666,-0.035429,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.837109,-1.008707,1.173346,-0.145920,-0.21666,-2.222153,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.042642,0.245079,-0.449271,-0.145920,-0.21666,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.057047,0.425801,-1.260579,-0.145920,-0.21666,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.775768,1.408176,1.173346,-0.145920,-0.21666,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,0.639741,0.362038,-0.145920,-0.21666,-0.197409,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32557,0.103983,-0.335433,-0.449271,-0.145920,-0.21666,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32558,1.423610,-0.358777,-0.449271,-0.145920,-0.21666,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32559,-1.215643,0.110960,-0.449271,-0.145920,-0.21666,-1.655225,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32560,0.983734,0.929893,-0.449271,1.888424,-0.21666,-0.035429,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [39]:
s=','.join(pipedf.columns.tolist())

In [44]:
s=s.replace("num_pipeline__","",).replace("cat_pipeline__","")

In [45]:
s

'age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Private,workclass_Self-emp-inc,workclass_Without-pay,workclass_gov,marital-status_Never-married,marital-status_No-spouse,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Wife,relationship_others,race_Black,race_Other,race_White,sex_Male,native-country_Canada,native-country_China,native-country_Columbia,native-country_Cuba,native-country_Dominican-Republic,native-country_Ecuador,native-country_El-Salvador,native-country_England,native-country_France,native-country_Germany,native-country_Greece,native-country_Guatemala,native-country_Haiti,native-country_Holand-Netherlands,native-country_Honduras,native-country_Hong,native-country_Hungary,native-country_India,native-country_Iran,native-country_Ireland,native-country_Italy,native-country_Jamaica,native-country_Japan,native-country_Laos,native-country_Mexico,native-country_Nicaragua,native-country_Outlying-US(Guam-USVI-etc),native-country_Peru,native-country_Philippines,native-country_Poland,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia'

In [ ]:
s=s.replace("cat_pipeline__","")

In [46]:
pipedf.columns=s.split(",")

In [47]:
pipedf

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Private,workclass_Self-emp-inc,workclass_Without-pay,workclass_gov,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.030671,-1.063611,1.173346,0.148453,-0.21666,-0.035429,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.837109,-1.008707,1.173346,-0.145920,-0.21666,-2.222153,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.042642,0.245079,-0.449271,-0.145920,-0.21666,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.057047,0.425801,-1.260579,-0.145920,-0.21666,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.775768,1.408176,1.173346,-0.145920,-0.21666,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,0.639741,0.362038,-0.145920,-0.21666,-0.197409,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32557,0.103983,-0.335433,-0.449271,-0.145920,-0.21666,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32558,1.423610,-0.358777,-0.449271,-0.145920,-0.21666,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32559,-1.215643,0.110960,-0.449271,-0.145920,-0.21666,-1.655225,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32560,0.983734,0.929893,-0.449271,1.888424,-0.21666,-0.035429,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [50]:
pip install imblearn

Collecting imblearnNote: you may need to restart the kernel to use updated packages.

  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn (from imblearn)
  Downloading imbalanced_learn-0.12.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: numpy>=1.17.3 in f:\adult_census_income_prediction\env\lib\site-packages (from imbalanced-learn->imblearn) (1.24.4)
Requirement already satisfied: scipy>=1.5.0 in f:\adult_census_income_prediction\env\lib\site-packages (from imbalanced-learn->imblearn) (1.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in f:\adult_census_income_prediction\env\lib\site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: joblib>=1.1.1 in f:\adult_census_income_prediction\env\lib\site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in f:\adult_census_income_prediction\env\lib\site-packages (from imbalanced-learn->imblearn) (3.2.0)
Downloading imbalanced_learn-0.12.0-py3-none-any.whl (257 kB)
   ---------------------------------------- 0.0/257.7 kB ? eta -:--:--
   - -------------------------------------- 10.2/257.7 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/257.7 kB 445.2 kB/s eta 0:00:01
   ------------ -------------------------- 81.9/257.7 kB 657.6 kB/s eta 0:00:01
   --------------- ---------------------- 102.4/257.7 kB 658.3 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/257.7 kB 711.9 kB/s eta 0:00:01
   --------------------------- ---------- 184.3/257.7 kB 743.9 kB/s eta 0:00:01
   -------------------------------------  256.0/257.7 kB 874.6 kB/s eta 0:00:01
   -------------------------------------- 257.7/257.7 kB 835.9 kB/s eta 0:00:00
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.12.0 imblearn-0.0

In [51]:
from imblearn.over_sampling import RandomOverSampler

In [53]:
Y = df['Income']
Y = Y.map({'<=50K': 0, '>50K': 1})

In [54]:
rs = RandomOverSampler()

In [55]:
X,Y = rs.fit_resample(pipedf,Y)

In [57]:
X

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Private,workclass_Self-emp-inc,workclass_Without-pay,workclass_gov,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.030671,-1.063611,1.173346,0.148453,-0.216660,-0.035429,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.837109,-1.008707,1.173346,-0.145920,-0.216660,-2.222153,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.042642,0.245079,-0.449271,-0.145920,-0.216660,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.057047,0.425801,-1.260579,-0.145920,-0.216660,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.775768,1.408176,1.173346,-0.145920,-0.216660,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49435,-0.042642,2.215455,-0.449271,-0.145920,-0.216660,-1.331266,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
49436,-0.115955,1.126618,1.173346,-0.145920,-0.216660,0.369519,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
49437,-0.702455,2.411460,1.173346,-0.145920,-0.216660,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
49438,0.690484,0.047311,0.362038,-0.145920,4.503482,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
49439,0.543859,0.741306,1.173346,-0.145920,-0.216660,-0.035429,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [60]:
X.skew()[:5]

age              0.391167
fnlwgt           1.384467
education-num    0.768388
capital-gain     8.329865
capital-loss     3.756415
dtype: float64