In [1]:
from datetime import datetime

In [9]:
datetime.now()

datetime.datetime(2024, 2, 5, 15, 55, 20, 567509)

In [10]:
import os

In [12]:
s=os.path.join("art",'raw.csv')

In [13]:
s

'art\\raw.csv'

In [15]:
os.makedirs(os.path.join(s),exist_ok=True)

In [16]:
os.path.dirname(os.path.join(s))

'art'

In [18]:
os.makedirs(os.path.dirname(os.path.join(s)))

In [24]:
os.makedirs(os.path.dirname(os.path.join('art/','raw/')))

In [22]:
os.makedirs(os.path.join('art'))

In [25]:
os.path.join('art','raw')

'art\\raw'

In [29]:
s=os.path.join('art/','raw/')

In [35]:
os.makedirs(os.path.dirname(os.path.join(s)))

In [34]:
os.path.join(s)

'art/raw/'

In [1]:
import re

In [2]:
regex='incomeData_\d+_\d+\.csv'

In [3]:
filename='incomeData_021119910_010212.csv'
if re.match(regex,filename):
    SplitAtDot = filename.split(".csv")
    SplitAtUnderScore = SplitAtDot[0].split("_")
    print(SplitAtUnderScore[1],SplitAtUnderScore[2] )

021119910 010212

In [1]:
import os

In [34]:
p = r"F:\Adult_Census_Income_Prediction\artifacts"

In [35]:
os.listdir(p)

['k-means_elbow.PNG', 'KMeans.sav', 'XGBoost0', 'XGBoost2', 'XGBoost3']

In [42]:
for i in l:
    i=i.split('.')
    if i[0][-1]=='s':
        print(i)
        i=".".join(i)
        filepath =os.path.join(p,i)
        print(i,filepath)

['KMeans', 'sav']
KMeans.sav F:\Adult_Census_Income_Prediction\artifacts\KMeans.sav

In [ ]:
 final= pd.DataFrame(list(zip(predictions)),columns=['Predictions'])

In [48]:
import numpy as np
import pandas as pd

In [50]:
pr=[1,2,3,4]

In [51]:
final= pd.DataFrame(list(zip(pr)),columns=['Predictions'])

In [52]:
final

   Predictions
0            1
1            2
2            3
3            4